<mat-toolbar *ngIf="!isLoginPage" color="primary">
  <button (click)="getArticles()" mat-flat-button color="primary">Articles</button>
  <button *ngIf="isAdmin" (click)="getUsers()" mat-flat-button color="primary">Users</button>
  <button *ngIf="isAdmin" (click)="getCategories()" mat-flat-button color="primary">Categories</button>
  <button *ngIf="isUser" (click)="goToNewArticle()" mat-flat-button color="primary">New...</button>
  <span class="filler"> </span>
  <button *ngIf="isAdmin || isUser" (click)="doLogout()" mat-flat-button color="primary">Logout</button>
  <button *ngIf="!isAdmin && !isUser" (click)="goToLogin()" mat-flat-button color="primary">Register</button>
</mat-toolbar>
