<div class="container">
  <h2> Users</h2>
  <div *ngIf="users.length == 0">
    <div class="alert alert-info" role="alert">Loading...</div>
  </div>

  <div *ngIf="users.length > 0">
    <table mat-table [dataSource]="users" class="mat-elevation-z8">

      <!-- Name Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id</th>
        <td mat-cell *matCellDef="let user"> {{user.id}}</td>
      </ng-container>

      <!-- Telephone Column -->
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef> Username</th>
        <td mat-cell *matCellDef="let user"> {{user.username}}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email</th>
        <td mat-cell *matCellDef="let user"> {{user.email}}</td>
      </ng-container>

      <ng-container matColumnDef="admin">
        <th mat-header-cell *matHeaderCellDef> Admin</th>
        <td mat-cell *matCellDef="let user"> {{user.admin === true ? 'True' : 'False'}}</td>
      </ng-container>

      <!-- Details Column -->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let user">
          <button mat-raised-button (click)="deleteUser(user.id)">Delete</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>

  <ul>
    <li><button (click)="updateUser()" mat-flat-button color="primary">Update</button></li>
    <li><input [(ngModel)]="user.id" matInput placeholder="Id"></li>
    <li><input [(ngModel)]="user.username" matInput placeholder="Username"></li>
    <li><input [(ngModel)]="user.email" matInput placeholder="Email"></li>
    <li><input [(ngModel)]="user.admin" matInput placeholder="Admin"></li>
  </ul>

  <div class="msg" *ngIf="message">{{message}}</div>
</div>
