table {
  width: 100%;
}
.msg {
  background-color: lightskyblue;
  min-width: 200px;
  max-width: 400px;
  width: 100%;
  margin-top: 20px;
}

ul {
  width: 100%;
  list-style-type: none;
}

li {
  width:16%;
  margin-right: 6px;
  display: inline-block;
}
