.h3 {
  float:right
}

.beer{
  display: block;
  margin-top: 70px;
  width: 100%;
  max-width:60%;
  min-height: 10%;
}

ul {
  list-style-type: none;
}
li {
  display: inline-block;
  margin-right: 3px;
}
