<div class="container" *ngIf="article">
  <h2>{{article.title}}</h2>
  <div>

    <div class="h3">
      <h3> - by {{loggedUser === article.author? 'You' : article.author}}
        <button *ngIf="loggedUser === article.author" (click)="editArticle(article.id)" mat-flat-button color="primary">Edit</button>
      </h3>
      <h3>Category: {{article.category ? article.category.name : '-no category-'}}</h3>
    </div>
    <br>
    <br>

    <div class="beer">
      {{article.body}}
    </div>

    <br><br><br>
    <div *ngIf="article.categoryId">Enjoyed this? <button (click)="subscribeUser(article.categoryId)" disabled={{disabled}} mat-flat-button color="primary">Subscribe</button> to this category.
    Not on your liking? <button (click)="unsubscribeUser(article.categoryId)" disabled={{!disabled}} mat-flat-button color="primary">Unsubscribe</button></div>
    <h2>Read more:</h2>
    <ul>
      <li *ngFor="let art of relatedArticles">
        <a [routerLink]="['/article',art.id]">{{art.title}}</a> |
      </li>
    </ul>
  </div>
</div>
