<div style="width:30%; margin: auto; margin-top: 100px;">
  <mat-form-field class="formfield">
    <input  [(ngModel)]="username" matInput placeholder="Username">
  </mat-form-field>
  <br>
  <mat-form-field class="formfield">
    <input  [(ngModel)]="email" matInput placeholder="Email">
    <mat-hint>Required for registration only</mat-hint>
  </mat-form-field>
  <br>
  <mat-form-field class="formfield">
    <input type="password" [(ngModel)]="password" matInput placeholder="Password">
  </mat-form-field>
  <br>

  <button style="margin-right: 1%" class="btn" (click)="doLogin()" mat-flat-button color="primary">Login</button>
  <button class="btn" (click)="doRegister()" mat-flat-button color="primary">Register</button>
  <br>
  <button class="formfield" (click)="doRedirect()" mat-flat-button color="primary">Continue without authentication</button>


  <div class="msg" *ngIf="message">{{message}}</div>
</div>
