.formfield {
  min-width: 200px;
  max-width: 400px;
  width: 100%;
  margin-top: 4px;
}
.btn {
  width:49%;
}
.msg {
  background-color: lightskyblue;
  min-width: 200px;
  max-width: 400px;
  width: 100%;
  margin-top: 20px;
}

ul {
  list-style-type: none;
}
