<div class="container">
  <h2> Categories</h2>
  <div *ngIf="categories.length == 0">
    <div class="alert alert-info" role="alert">Loading...</div>
  </div>

  <div *ngIf="categories.length > 0">
    <table mat-table [dataSource]="categories" class="mat-elevation-z8">

      <!-- Name Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id</th>
        <td mat-cell *matCellDef="let cat"> {{cat.id}}</td>
      </ng-container>

      <!-- Telephone Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name</th>
        <td mat-cell *matCellDef="let cat"> {{cat.name}}</td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description</th>
        <td mat-cell *matCellDef="let cat"> {{cat.description}}</td>
      </ng-container>

      <!-- Details Column -->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let cat">
          <button mat-raised-button (click)="deleteCategory(cat.id)">Delete</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>

  <ul>
    <li><button (click)="createCategory()" mat-flat-button color="primary">Create</button></li>
    <li><button (click)="updateCategory()" mat-flat-button color="primary">Update</button></li>
    <li><input [(ngModel)]="category.id" matInput placeholder="Id"></li>
    <li><input [(ngModel)]="category.name" matInput placeholder="Name"></li>
    <li><input [(ngModel)]="category.description" matInput placeholder="Description"></li>
  </ul>

  <div class="msg" *ngIf="message">{{message}}</div>
</div>
