<div class="container">
  <div class="msg" *ngIf="message">{{message}}</div>
<mat-form-field class="">
  <input  [(ngModel)]="title" matInput placeholder="Title">
</mat-form-field>
<br>
<mat-form-field>
  <mat-select placeholder="Choose category" (selectionChange)="onChangee($event)">
    <mat-option *ngFor="let cat of categories" [value]="cat">
      {{cat.name}}
    </mat-option>
  </mat-select>
</mat-form-field>
<br>
<mat-form-field class="textff">
  <textarea class="textarea" [(ngModel)]="body" matInput placeholder="Body"></textarea>
</mat-form-field>
<br>
<button (click)="createArticle()" mat-flat-button color="primary">Post</button>
</div>
