<div class="container">
  <div class="msg" *ngIf="message">{{message}}</div>
  <mat-form-field class="" *ngIf="article">
    <input [(ngModel)]="article.title" matInput placeholder="Title">
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-select [(ngModel)]="article.category" placeholder="Choose category" (selectionChange)="onChange($event)">
      <mat-option *ngFor="let cat of categories" [value]="cat">
        {{cat.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field class="textff"  *ngIf="article">
    <textarea class="textarea" [(ngModel)]="article.body" matInput placeholder="Body"></textarea>
  </mat-form-field>
  <br>
  <button (click)="updateArticle()" mat-flat-button color="primary">Post</button>
</div>
