<div class="container">
  <h2> Articles</h2>
  <form>
    <mat-form-field>
  <mat-select placeholder="Sort by category" (selectionChange)="onChange($event)">
    <mat-option *ngFor="let cat of categories" [value]="cat">
      {{cat.name}}
    </mat-option>
  </mat-select>
    </mat-form-field>
  </form>
  <div *ngIf="articles.length == 0 && !errorMsg">
    <div class="alert alert-info" role="alert">Loading...</div>
  </div>
  <div *ngIf="chosenCateg">
    <div class="alert alert-info" role="alert">{{chosenCateg.description}}</div>
  </div>
  <br>
  <div *ngIf="errorMsg">
    <div class="alert alert-info" role="alert">There are no articles in this category yet.</div>
  </div>

  <div *ngIf="articles.length > 0">
    <table mat-table [dataSource]="articles" class="mat-elevation-z8">

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Title</th>
        <td mat-cell *matCellDef="let art"> {{art.title}}</td>
      </ng-container>

      <ng-container matColumnDef="author">
        <th mat-header-cell *matHeaderCellDef> Author</th>
        <td mat-cell *matCellDef="let art"> {{art.author}}</td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef> Category</th>
        <td mat-cell *matCellDef="let art"> {{art.category === null || art.category === undefined ? '' : art.category.name}}</td>
      </ng-container>

      <ng-container matColumnDef="view">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let art">
          <button mat-raised-button (click)="viewDetails(art.id)">Details</button>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let art">
          <button *ngIf="currentUser === art.author" mat-raised-button (click)="deleteArt(art.id)">Delete</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>
</div>
