<div class="container">
  <div style="text-align:center">
    <h1>
      Welcome, {{ name === null? 'Anonymous' : name}}!
    </h1>
    <img width="700" alt="Logo" src="assets/img/logo.png">
  </div>
</div>
